/* homepage
----------------------------------------*/

html body {
    margin: 0px;
    padding: 0px;
}

#home {
    background-color: #ffffff;
}

.logo {
    font-family: 'Cutive Mono', monospace;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 1;
}

.logoimg {
    margin: 2em;
    height: 250px;
}

.name {
    font-family: 'Overpass Mono', monospace;
    font-weight: normal;
    margin-bottom: 10px;
}

.description a {
    color: #000000;
    text-decoration: none;
}

.description a:hover {
    text-decoration: line-through;
}

/*  particles
----------------------------------------*/

#particles-js {
    position: absolute;
    width: 100%;
    height: 99.7%;
    z-index: -1;
}

/*  music
----------------------------------------*/

.togglesound {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    bottom: 1em;
    right: 2em;
}

.togglesound a {
    color: #000000;
    text-decoration: none;
}

.togglesound a:hover {
    text-decoration: line-through;
    cursor: pointer;
}

/*  slideshow
----------------------------------------*/

#slideshow {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#gallery {
    width: 100%;
    min-height: 100%;
}

/*  music digital portfolio
----------------------------------------*/

.togglesound_white {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    top: 1em;
    right: 2em;
    color: #ffffff;
}

.togglesound_white:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.togglesound_black {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    top: 1em;
    right: 2em;
    color: #000000;
}

.togglesound_black:hover {
    text-decoration: line-through;
    cursor: pointer;
}

/*  navigation
----------------------------------------*/

.navigation {
    padding: 5.2em 4em 1.8em 4em;
}

.logo_button {
    margin-left: 0.7em;
}

.menu {
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
}

.menu a {
    transition: all 1s ease-in-out;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 619px;
}

.menu ul li {
    margin: 1em 1.4em;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu ul:hover li a {
    opacity: 0.25;
}

.menu ul:hover li a:hover {
    opacity: 1;
}

/*  quote & text
----------------------------------------*/

#portfolio_content {
    margin-left: 4.9em;
}

.design_quote {
    font-family: 'Russo One', sans-serif;
    word-spacing: 5.5px;
    font-size: 25px;
    margin-top: 2em;
    color: #ffffff;
}

.paul_rand {
    font-size: 12px;
}

.intro_text {
    font-family: 'Cutive Mono', monospace;
    margin: 3em 5em 5em 0em;
    color: #ffffff;
}

/*  gallery button
----------------------------------------*/

#gallery_button {
    font-family: 'Cutive Mono', monospace;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.8s ease-in-out;
    margin-top: 0.5em;
}

#gallery_button:hover {
    font-family: 'Cutive Mono', monospace;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    cursor: pointer;
}

/*  social media icons
----------------------------------------*/

.social_icons {
    position: fixed;
    bottom: 2em;
    right: 1.1em;
}

.facebook {
    height: 30px;
}

.facebook:hover {
    height: 50px;
}

.instagram {
    height: 30px;
}

.instagram:hover {
    height: 50px;
}

.github {
    height: 30px;
}

.github:hover {
    height: 50px;
}

.linkedin {
    height: 30px;
}

.linkedin:hover {
    height: 50px;
}

/*  footer
----------------------------------------*/

.footer {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    bottom: 0.8em;
    right: 2em;
    color: #ffffff;
}

.footer p {
    margin: 0px;
}

/*  gallery
----------------------------------------*/

#gallery {
    background-color: #000000;
}

#tile-gallery {
    margin: 45px;
}

.back_button a {
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    position: fixed;
    top: 0.8em;
    left: 50px;
    color: #ffffff;
    text-decoration: none;
}

.my-gallery {
    padding: 35px;
    text-align: center;
}

.my-gallery img {
    padding: 2px;
    margin: 0 2px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.my-gallery figure {
    display: block;
    width: auto;
    display:inline-block;
    margin: 2px;
}

/*  about
----------------------------------------*/

#about {
    background: url(../img/about.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about_container {
    background-color: rgba(0, 0, 0, 0.623);
    padding: 25px 0;
}

.about_wrapper {
    width: 80%;
    padding: 20px 30px 0 30px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.about_gif {
    margin-right: 5em;
}

.about_text {
    color: #ffffff;
    font-family: 'Cutive Mono', monospace;
    padding: 35px 30px 0 30px;
    width: 80%;
    margin: auto;
}

/*  skillbars
----------------------------------------*/

.my_skills {
    width: 50%;
    height: 100%;
    margin: auto;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: #eee;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    font-size: 15px;
    color: #ffffff;
    background: #ff80bf;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    font-family: 'Cutive Mono', monospace;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    height: 20px;
    line-height: 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 20px;
    width: 0px;
    background: #ff80bf;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    font-family: 'Overpass Mono', monospace;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #595959;
}

.adobe {
    color: #ffffff;
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.dumpling_soup {
    float: right;
    margin: 0px;
    padding-right: 20px;
    color: #ffffff;
}

/*  blog
----------------------------------------*/

.footer_blog {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    bottom: 0.8em;
    right: 2em;
    color: #000000;
}

.footer_blog p {
    margin: 0px;
}

.menu_black {
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
}

.menu_black a {
    transition: all 1s ease-in-out;
}

.menu_black ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 619px;
}

.menu_black ul li {
    margin: 1em 1.4em;
}

.menu_black ul li a {
    text-decoration: none;
    color: #000000;
}

.menu_black ul:hover li a {
    opacity: 0.25;
}

.menu_black ul:hover li a:hover {
    opacity: 1;
}

/*  contact
----------------------------------------*/

#contact {
    background: url(../img/contact-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 25px 0;
}

.container {
    font-family: 'Cutive Mono', monospace;
    font-weight: 100;
    color: #ffffff;
    max-width: 700px;
    margin: auto;
    padding: 1.2em;
}

#message {
    height: 140px;
}

input[type=text], select, textarea {
    font-family: 'Cutive Mono', monospace;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ff80bf;
    font-family: 'Cutive Mono', monospace;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff66b3;
}

.avatar_link {
    font-family: 'Cutive Mono', monospace;
    padding-left: 15em;
    text-decoration: none;
    color: #000000;
}
