
/* homepage
----------------------------------------*/

html body {
    margin: 0px;
    padding: 0px;
}

#home {
    background-color: #ffffff;
}

.logo {
    font-family: 'Cutive Mono', monospace;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 1;
}

.logoimg {
    margin: 2em;
    height: 250px;
}

.name {
    font-family: 'Overpass Mono', monospace;
    font-weight: normal;
    margin-bottom: 10px;
}

.description a {
    color: #000000;
    text-decoration: none;
}

.description a:hover {
    text-decoration: line-through;
}

/*  particles
----------------------------------------*/

#particles-js {
    position: absolute;
    width: 100%;
    height: 99.7%;
    z-index: -1;
}

/*  music
----------------------------------------*/

.togglesound {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    bottom: 1em;
    right: 2em;
}

.togglesound a {
    color: #000000;
    text-decoration: none;
}

.togglesound a:hover {
    text-decoration: line-through;
}

/*  slideshow
----------------------------------------*/

#slideshow {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#gallery {
    width: 100%;
    min-height: 100%;
}

/*  music digital portfolio
----------------------------------------*/

.togglesound_portfolio {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    top: 1em;
    right: 2em;
}

.togglesound_portfolio a {
    color: #ffffff;
    text-decoration: none;
}

.togglesound_portfolio a:hover {
    text-decoration: line-through;
}

/*  footer
----------------------------------------*/

.footer {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    position: fixed;
    bottom: 0.8em;
    right: 2em;
    color: #ffffff;
}

.footer p {
    margin: 0px;
}

/*  navigation
----------------------------------------*/
.navigation {
    padding: 4em 4em 3em 4em;
}

.navigation img {
    margin: 0 0 0.7em 0.7em;
}

.menu {
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
}

.menu a {
    transition: all 1s ease-in-out;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 402px;
}

.menu ul li {
    margin: 1em;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu ul:hover li a {
	opacity: 0.25;
}

.menu ul:hover li a:hover {
	opacity: 1;
}

/*  gallery button
----------------------------------------*/

#gallery_button {
    font-family: 'Cutive Mono', monospace;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.8s ease-in-out;
    margin-left: 5em;
}

#gallery_button:hover {
    font-family: 'Cutive Mono', monospace;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    cursor: pointer;
}

/*  quote & text
----------------------------------------*/

.design_quote {
    font-family: 'Russo One', sans-serif;
    font-size: 27px;
    margin-left: 3em;
    color: #ffffff;
}

.paul_rand {
    font-size: 12px;
}

.intro_text {
    font-family: 'Cutive Mono', monospace;
    margin: 4.5em 5em 5em 5em;
    color: #ffffff;
}

/*  social media icons
----------------------------------------*/

.social_icons {
    position: fixed;
    bottom: 2em;
    right: 1.1em;
}

.facebook {
    height: 30px;
}

.facebook:hover {
    height: 50px;
}

.instagram {
    height: 30px;
}

.instagram:hover {
    height: 50px;
}

.github {
    height: 30px;
}

.github:hover {
    height: 50px;
}

.linkedin {
    height: 30px;
}

.linkedin:hover {
    height: 50px;
}
